* {
  box-sizing: border-box;
}

/*----- Structure -----*/
body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #cccccc;
  background-image: url(../images/panels.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

nav {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
}

/*----- Type -----*/
h1 {
  margin: 50px auto 0 auto;
  font-family: 'Raleway', sans-serif;
  font-size: 3.5rem;
  color: #f0f2ef;
  text-decoration: none;
  text-shadow: 2px 2px 4px #5c5346;
}

h2 {
  font-size: 1.75rem;
  color: #f0f2ef;
  text-decoration: none;
  text-shadow: 2px 2px 4px #5c5346;
}

h3, h4 {
  font-family: 'Montserrat', sans-serif;
  color: #5c5346;
}

h5 {
  color: #f0f2ef;
  text-shadow: 2px 2px 4px #5c5346;
}

p {
  line-height: 1.5;
  color: #5c5346;
}

/*----- HR -----*/
hr {
  margin: 1.5em 0;
  text-align: center;
  border: none;
  padding: .5rem 0;
}

hr:before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: 0 0.4em;
  background-color: #8c6057;
}

hr:after {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: 0 0.4em;
  background-color: #8c6057;
}

/*----- Forms -----*/
form {
  padding: 2rem;
}

form button {
  padding: 10px 16px;
  border-radius: 10px;
  font-size: 16px;
  border: 1px solid  #5c5346;
  background: #afd5aa;
}

form input,
form textarea {
  width: 100%;
  background: #f0f2ef;
  color: black;
  border: 1px solid  #5c5346;
}

form textarea {
  height: 10rem;
}

/*----- Lists -----*/
.list {
  text-align: center;
  line-height: 1.5;
}

ol {
  list-style: none;
}

ul {
  list-style: none;
  line-height: 1.75rem;
}

/*----- Picture Formatting -----*/
.computerPic, .profilePic {
  border-radius: 50%;
  position: relative;
  max-width: 100%;
  height: auto;
}

.profilePic {
  border: 1px solid  #5c5346;
}

.panelPic {
  position: relative;
  border-radius: 2%;
  max-width: 80%;
  height: auto;
}

/*----- Groups & Items -----*/
.group {
  display: flex;
  flex-direction: column;
}

.item, .item-double {
  padding: 0 1% .25rem 1%;
  width: 100%;
}

.item {
  flex: 1;
}

.item-double {
  flex: 2;
}

.wrapper {
  position: relative;
  height: auto;
  width: 100%;
}

/*----- Text Format -----*/
.spacer {
  padding-left: 3px;
}

/*----- A link -----*/
a:link {text-decoration: none;}
a:visited, a:active { color: #5c5346;}
a:hover { color:  #8c6057;}


/*----- Navbar -----*/
.navbar a {
  text-align: center;
  padding: 1rem;
  color: #f0f2ef;
  text-decoration: none;
  text-shadow: 1px 1px 2px #5c5346;
  font-size: 1.5rem;
}

.navbar a:hover {color:  #8c6057;}

.navbar a::after { color: #5c5346;
}

.nav:after {
  content: "";
  display: table;
  clear: both;
}

/*----- Groups & Items (Mobile First) -----*/
.wrapper {
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
  padding: 2rem 4rem;
  background-color: #f0f2ef;
  border-radius: 8%;
}

.item-pic {
  flex: 1;
  margin: 10px;
  padding: 0 4rem;
  border-radius: 5%;
}

.item-double {
  flex: 2;
  margin: 10px;
  padding: 0 3rem;
  background-color: #f0f2ef;
  border-radius: 4%;
}

/*----- Groups & Items (Desktop)-----*/
@media all and (min-width: 800px) {
  .wrapper {
    width: 80%;
    margin: auto;
  }

  .group {
    flex-direction: row;
  }
}

/*----- Articles -----*/
#intro, #about, #portfolio, #contact {
  position: relative;
  height: auto;
  width: 100%;
  padding: 2rem;
}

#about {
  background-image: url(../images/pattern.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#contact {
  background-image: url(../images/woodRings.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom-left-radius: 6%;
  border-bottom-right-radius: 6%;
}

#intro {
  background-image: url(../images/woodRings.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 6%;
  border-top-right-radius: 6%;
}

#pageFooter, #pageHeader {
  position: relative;
  height: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
}

#portfolio {
  background-image: url(../images/tiles.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}