* {
  box-sizing: border-box;
}

/*----- Structure -----*/
body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #cccccc;
  background-image: url(../images/panels.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

nav {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 2%;
}


/*----- Type -----*/
h1 {
  margin: 50px auto 0 auto;
  font-family: 'Raleway', sans-serif;
  font-size: 3.5rem;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 2px black;
}

h2 {
  font-size: 1.75rem;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 2px black;
}

h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

hr {
  margin: 1.5em 0;
  text-align: center;
  border: none;
  padding: .5rem 0;
}

hr:before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: 0 0.4em;
  background-color: #df7861;
}

hr:after {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: 0 0.4em;
  background-color: #df7861;
}

p {
  line-height: 1.5;
}

/*----- Lists -----*/

ol {
  list-style: none;
}

ul {
  list-style: none;
}

.list {
  text-align: center;
  line-height: 1.5;
  font-style: italic;
}

/*----- Picture Formatting -----*/
.computerPic, .profilePic {
  border-radius: 50%;
  position: relative;
  max-width: 100%;
  height: auto;
}

.panelPic {
  border-radius: 10%;
  position: relative;
  max-width: 80%;
  height: auto;
}

/*----- Groups & Items -----*/
.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  padding: 0 1% .25rem 1%;
  width: 100%
}

.item-double {
  flex: 2;
}

.wrapper {
  position: relative;
  height: auto;
  width: 100%;

}

/*----- Spacing -----*/
.spacer {
  padding-left: 4px;
}

/*----- A link -----*/
a:link {text-decoration: none;}
a:visited, a:active { color: black;}
a:hover { color:  #df7861;}


/*----- Navbar -----*/
.navbar a {
  text-align: center;
  padding: 1rem;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 2px black;
  font-size: 1.5rem;
}

.navbar a:hover {color:  #df7861;}

.navbar a::after { color: black;
}

.nav:after {
  content: "";
  display: table;
  clear: both;
}

/*----- Groups & Items (Mobile First) -----*/
.wrapper {
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
  padding: 0 4rem;
}

.item-double {
  flex: 2;
  margin: 10px;
  padding: 0 3rem;
}

/*----- Groups & Items (Desktop)-----*/
@media all and (min-width: 800px) {
  .wrapper {
    width: 80%;
    margin: auto;
  }

  .group {
    flex-direction: row;
  }
}

/* ----- Banners ------*/
#banner {
  position: relative;
  height: 10%;
  padding-top: 2%;
  padding-bottom: 2%;

}

/* ----- Articles -----*/
#intro, #about, #portfolio {
  height: auto;
  width: 100%;
  padding: 2rem;
}

/* ----- Intro & Portfolio -----*/
#intro, #portfolio {
  position: relative;
  background-color: #fcf8e8;
}

/* ----- About -----*/
#about {
  position: relative;
  background-color: #d4e2d4;

}
