/*----- Structure -----*/
body {
  margin: 0 10%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #cccccc;
  background-image: url(../images/panels.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  position: relative;
  height: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
}

header {
  position: relative;
}

nav {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 1%;
}


/*----- Type -----*/
h1 {
  margin: 50px auto 0 auto;
  font-family: 'Raleway', sans-serif;
  font-size: 3.5rem;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 2px black;
}

h2 {
  font-size: 1.75rem;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 2px black;
}

h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

hr {
  margin: 1.5em 0;
  text-align: center;
  border: none;
  padding: .5rem 0;
}

hr:before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: 0 0.4em;
  background-color: #df7861;
}

hr:after {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: 0 0.4em;
  background-color: #df7861;
}

ol {
  list-style: none;
  line-height: 2;
}

p {
  line-height: 1.5;
}

ul {
  list-style: none;
  line-height: 2;
  font-weight: 600;
}


/*----- Picture Formatting -----*/
.computerPic, .profilePic, .foodPic {
  border-radius: 50%;
}

.computerPic, .foodPic {
  width: 280px;
  height: 280px;
}

.profilePic {
  width: 300px;
  height: 300px;
}

/*----- Elements -----*/
.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  padding-bottom: .25rem;
}

.list {
  text-align: center;
  line-height: 2;
  font-style: italic;
  /*
  padding: 0 20rem 2rem 20rem;
  */
}

.textbox {
  position: relative;
  background-color: #fcf8e8;
  border-radius: 15%;
  height: auto;
  width: 70%;
  margin-left: 15%;
  padding: 2rem 0;

}


/*----- A link -----*/
a:link {text-decoration: none;}
a:visited, a:active { color: black;}
a:hover { color:  #df7861;}


/*----- Navbar -----*/
.navbar a {
  text-align: center;
  padding: 1rem;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 2px black;
  font-size: 1.5rem;
}

.navbar a:hover {color:  #df7861;}

.navbar a::after {
}

.nav:after {
  content: "";
  display: table;
  clear: both;
}


/* ----- Articles ------*/

/* ----- Media Queries -----*/
